<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" src="assets/logo.png">
</div>
   <mat-card class = "tp-card mat-elevation-z0 outline"  layout-align="center center">
      <mat-card-header>
         <mat-card-title>P2P</mat-card-title>
         <mat-card-subtitle>Compra e venda de altcoins </mat-card-subtitle>
      </mat-card-header>
   </mat-card>
   <mat-card class = "tp-card mat-elevation-z0" layout-align="center center">
      Bitcoin
      <fa-icon [icon]="['fab', 'bitcoin']" size="lg"></fa-icon>
   </mat-card>
   <mat-card class = "tp-card mat-elevation-z0" layout-align="center center">
         Decred
         <svg-icon src="assets/Decred.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
      </mat-card>
   <mat-card class = "tp-card mat-elevation-z0" layout-align="center center">
         Ethereum
         <fa-icon [icon]="['fab', 'ethereum']" size="lg"></fa-icon>
   </mat-card>
   <mat-card class = "tp-card mat-elevation-z0" layout-align="center center">
            Litecoin
            <svg-icon src="assets/Litecoin.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
   </mat-card>
   <mat-card class = "tp-card mat-elevation-z0" layout-align="center center">
               Tether
               <svg-icon src="assets/Tether.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
   <mat-card-actions>
         <button mat-raised-button color="warn">
               <mat-icon>account_balance_wallet</mat-icon>
            Vender
         </button>
         <button mat-raised-button color="primary">
               <mat-icon>payment</mat-icon>
               Comprar           
            </button>
   </mat-card-actions>
</mat-card>

