.tp-card {
    max-width: 400px;
    margin: auto;
}
  .outline {
   border-style: solid;
   border-width: medium;
   border-color: red;
  }
 
  html,
body {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;

}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}