.tp-card {
    max-width: 400px;
    
 }
 .test-card{
   width: 400px;
   margin: 10px auto;
 }
 
 .main-div{
   height: 100vh;
   justify-content: space-around;
   align-items: center;
 }
  .outline {
   border-style: solid;
   border-width: medium;
   border-color: red;
  }
  