<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" src="assets/logo.png">
</div>
   <mat-card class = "tp-card" layout-align="center center">
      <mat-card-header>
         <mat-card-title>P2P</mat-card-title>
         <mat-card-subtitle>Compra e venda de altcoins </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
         <div>  
            Moedas
            <span class="icon icon-btc"></span>

            </div>

<div>
           Pagamentos
         </div>
      </mat-card-content>
      <mat-card-actions>
<button mat-button>Comprar</button><mat-icon inline>account_balance_wallet</mat-icon>
<button mat-button>Vender</button><mat-icon inline>payment</mat-icon>
      </mat-card-actions>
   </mat-card>

